<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="MQTTServer" value="192.168.178.5"/>
		<add key="MQTTPassword" value="%MQTT_PASSWORD%"/>
		<add key="PrinterURL" value="http://192.168.178.107/"/>
		<add key="PrinterName" value="Creality 3D Printer"/>
		<add key="PrinterEntityID" value="creality_3d_printer"/>
	</appSettings>
</configuration>
